.wtsappContainer{
    position: fixed;
    z-index: 5;
    top: 250px;
    right: 0;
    padding: 0.3rem 0.2rem 0rem 0.3rem;
    text-align: center;
    min-width: 1.7%;
    border-radius: 7px 0 0 7px;
    background-color: #25D366;
}

.quickConnect{
    position: fixed;
    z-index: 5;
    visibility: visible;
    top: 365px;
    right: -70px; 
    transform: rotate(270deg);  
    color: white;
}

.quickConnect button{
    border-radius: 7px 7px 0px 0px;
    background-color: #7432FF;
    z-index: 5;
    border: none;
    outline: none;
    font-size: 1.3rem;
    height: 47px;
    padding: 0 5px;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.skypeContainer{
    position: fixed;
    z-index: 5;
    top: 484px;
    right: 0;
    min-width: 1.7%;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
    border-radius: 7px 0 0 7px;
    background-color: #00aff0;
}