.featureCard{
    width: 301px;
    height: 188px;
    margin: 2% 0 1%;
}

.featureCard h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;    
    margin-top: -1%;
}

.featureCard p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
    margin-top: -3%;   
}

.featureCardDesc p{
    color: rgba(255, 255, 255, 0.6);
}

/* .featuresLogo{
    max-height: 5.5rem;
} */

@media only screen and (max-width: 1420px){
    .featureCard{
        margin: 3% auto;
    }
}

/* @media only screen and (max-width: 1340px){
    .featureCard{
        margin: 5% auto;
    }
} */

@media only screen and (max-width: 739px){
    .featureCard{
        width: 70%;
        text-align: center;
        margin: 0 auto 3.5%;
        justify-content: center;
    }
}


@media only screen and (max-width: 500px){
    .featureCard{
        width: 95%;
    }
}

@media only screen and (max-width: 310px){
    .featureCard{
        margin: 0 auto 28%;
    }
}

/* @media only screen and (max-width: 712px){
    .featureCard{
        width: 270px;
        height: 188px;
    }
}

@media only screen and (max-width: 638px){
    .featureCard{
        width: 240px;
        height: 200px;
        margin: 1rem 0;
        }

    .featureCardTitle{
        height: 3rem;
        margin-bottom: auto;
    }
    

    .featureCard h3{
        padding-right: 0.7rem;
    }

    .featureCard p{
       padding-right: 0.7rem;
    }
}


@media only screen and (max-width: 572px){

    .featureCardTitle{
        height: 1rem;
    }

    .featureCard{
        width: 340px;
        height: 220px;
        margin: 0rem 0 0.5rem;
    }

    .featuresLogo{
        max-height: 4.5rem;
        padding-top: 3rem;
    }   
}


@media only screen and (max-width: 318px){

    .featureCardTitle{
        height: 2.8rem;
        margin-bottom: auto;
    }

    .featureCard{
        margin: 1rem 0 3.7rem;
    }

    .featuresLogo{
        max-height: 4.5rem;
        padding-top: 3rem;
    }   
} */



